# Ignore build directories
#===各フォルダに入れる===
#For KiCAD
/*-backups
fp-info-cache
#ガーバーデータはここに入れて無視する
/gerber

#For STM32CubeIDE
Debug/
Release/
/.settings/
.mxproject
*.launch
.metadata/

#For Visual Studio Code
.vscode/

#for ArduinoIDE